body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: #fff;
}

header {
  background: #222;
  padding: 10px;
}

.container {
  padding: 10px;
}

.produto {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background: #222;
  padding: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
}

textarea {
  width: 90%;
  height: 60px;
  margin: 10px;
}

.pagamento {
  margin: 10px;
}
